.DS_Store
*/.DS_Store

.idea/
*/.idea/

analyze_log/files/
bai_sheng_cve/file/
company_domain/file/
wangxingban/files/
wangxingban/sync/databaseF/
asset_mapping/file/
asset_mapping/cmd/config.toml

spider/
